.contact {
  &__email {
    position: relative;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.3rem;
  }
  &__socials {
    display: flex;
    gap: 1rem;
  }
  &__social-item {
    position: relative;
    font-size: 2rem;

    & svg {
      color: inherit;
    }
  }
}
